@import "../../../styles/variables";
@import "../../../styles/mixins";
.slate-p {
  color: $text;
  line-height: 1.8rem;
  margin: 0.4rem 0;
}
.slate-h2 {
  color: $text;
  margin: 1rem 0;
}
.slate-h3 {
  color: $text;
  margin: 0.7rem 0;
}
.slate-ul {
  padding-left: 1rem;
}

.slate-a {
  color: $text;
  text-decoration: underline;
  &:hover {
    color: $text-darker;
    // cursor: pointer;
  }
}
