//Fonts
@mixin font() {
  @font-face {
    font-family: "SupremeLLWeb-Light";
    src: url("./fonts/SupremeLLWeb-Light.woff") format("woff");
  }

  @font-face {
    font-family: "SupremeLLWeb-Light";
    src: url("./fonts/SupremeLLWeb-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: "SupremeLLWeb-Medium";
    src: url("./fonts/SupremeLLWeb-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "SupremeLLWeb-Medium";
    src: url("./fonts/SupremeLLWeb-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "SupremeLLWeb-Bold";
    src: url("./fonts/SupremeLLWeb-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "SupremeLLWeb-Bold";
    src: url("./fonts/SupremeLLWeb-Bold.woff2") format("woff2");
  }
}

// Media Queries
$medium: 1175px;
$small: 950px;
$menu-breakpoint: 800px;
$mobile: 525px;

@mixin mq($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}
