@import "./variables";
@import "./mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@include font();

html {
  font-size: 14px;
}
body {
  font-family: SupremeLLWeb-Medium;
  font-weight: 400;
  font-size: 16px;
  background-color: $background;
  overflow-x: clip;
  max-width: 100vw;
}

img {
  max-width: 100%;
}

.link-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background;
  color: $text;
  z-index: 100;
}
